.about {
  background: #030303 url(../../assets/png/background/whoare.png) 40% 40% / cover no-repeat;
  border-radius: 95% 95% 0px 0px / 11% 11% 0px 0px;
  margin-top: -40px;
  z-index: 1;
  position: relative;
}

.about__inner {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 46px 0 226px;
}

.about__heading {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: flex-start;
  width: 552px;
  gap: 14px;
}

.about__heading .heading__subtitle {
  max-width: 417px;
}
.about__button {
  margin-top: 56px;
  position: relative;
  padding: 14px 22px;
  padding-right: 49px;
}

.about__button::after {
  content: '';
  position: absolute;
  width: 27px;
  height: 20px;
  background: url(../../assets/png/logos/Vector.svg);
  top: 50%;
  transform: translateY(-50%);
  right: 7%;
}
